*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-size: 18px;
  overflow-x: hidden;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
}

.navMobileOpen {
  top: 80px;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 640px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 640px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 640px) {
  .hide-for-desktop {
    display: none;
  }
}

header {
  width: 100%;
  height: 700px;
  background-image: url("../images/desktop/image-header.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

@media (max-width: 640px) {
  header {
    height: 500px;
  }
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

header .nav-logo {
  cursor: pointer;
}

header .nav-link {
  color: white;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-right: 30px;
}

header .nav .btn-primary {
  background-color: white;
  color: black;
}

header .nav .btn-primary:hover {
  color: white;
  background: rgba(255, 255, 255, 0.3);
}

header .nav-hamburger {
  cursor: pointer;
}

header .nav-hamburger span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: white;
}

header .nav-hamburger span:not(:last-child) {
  margin-bottom: 5px;
}

header .nav .btn-secondary {
  color: black;
  background-color: #fad400;
  font-weight: 600;
  font-family: 'Barlow', sans-serif;
  cursor: pointer;
}

header .nav #slider {
  position: absolute;
  top: -1000px;
  left: 15px;
  z-index: 1;
  width: 90vw;
  padding: 50px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .nav #slider a {
  text-decoration: none;
  color: #818498;
  margin-bottom: 30px;
}

header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

@media (max-width: 640px) {
  header .header-content {
    margin-top: 50px;
  }
}

header .header-content h1 {
  color: white;
  letter-spacing: 5px;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  margin-bottom: 90px;
}

@media (max-width: 640px) {
  header .header-content h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
  }
}

.main-content .section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 640px) {
  .main-content .section-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-content .section-1 .box-image {
  background-image: url("../images/desktop/image-transform.jpg");
}

.main-content .section-1 .text-color {
  border-bottom: 3px solid #fad400;
}

.main-content .box-text {
  width: 50vw;
  height: 500px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 640px) {
  .main-content .box-text {
    width: 100vw;
    height: 400px;
    padding: 30px 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.main-content .box-text .text {
  width: 400px;
  text-align: left;
}

@media (max-width: 640px) {
  .main-content .box-text .text {
    text-align: center;
    width: 100vw;
  }
}

.main-content .box-text .text .title {
  text-decoration: none;
  color: #23303e;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  font-size: 40px;
  margin-bottom: 30px;
}

.main-content .box-text .text P {
  color: #a7abae;
  font-size: 18px;
  margin-bottom: 30px;
}

.main-content .box-text .text .text-color {
  cursor: pointer;
  color: #23303e;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  text-decoration: none;
  font-size: 15px;
}

.main-content .box-image {
  width: 50vw;
  height: 500px;
  background-size: cover;
  background-position: top;
}

@media (max-width: 640px) {
  .main-content .box-image {
    width: 100vw;
    height: 300px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.main-content .section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 640px) {
  .main-content .section-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-content .section-2 .box-image {
  background-image: url("../images/desktop/image-stand-out.jpg");
}

.main-content .section-2 .text-color {
  border-bottom: 3px solid #fe7867;
}

.main-content .section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 640px) {
  .main-content .section-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 640px) {
  .main-content .section-3 .box-image {
    height: 600px;
  }
}

.main-content .section-3 .text {
  text-align: center;
  width: 300px;
  margin: 350px auto 0 auto;
}

@media (max-width: 640px) {
  .main-content .section-3 .text {
    margin: 350px auto 0 auto;
  }
}

.main-content .section-3 .text .title {
  color: #5a636c;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Fraunces', serif;
}

.main-content .section-3 .text p {
  margin-top: 10px;
  font-size: 16px;
  color: #5a636c;
  font-family: 'Fraunces', serif;
}

@media (max-width: 640px) {
  .main-content .section-3 .text p {
    margin-top: 20px;
  }
}

.main-content .section-3 .box-image-1 {
  background-image: url("../images/desktop/image-graphic-design.jpg");
}

@media (max-width: 640px) {
  .main-content .section-3 .box-image-1 {
    background-image: url("../images/mobile/image-graphic-design.jpg");
  }
}

.main-content .section-3 .box-image-2 {
  background-image: url("../images/desktop/image-photography.jpg");
}

@media (max-width: 640px) {
  .main-content .section-3 .box-image-2 {
    background-image: url("../images/mobile/image-photography.jpg");
  }
}

.testimonial {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 200px;
  padding-left: 200px;
}

@media (max-width: 640px) {
  .testimonial {
    padding: 50px 20px;
  }
}

.testimonial h1 {
  font-size: 16px;
  letter-spacing: 5px;
  color: #5a636c;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.testimonial .testi-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 640px) {
  .testimonial .testi-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonial .testi-card {
  width: 300px;
  text-align: center;
}

@media (max-width: 640px) {
  .testimonial .testi-card {
    margin-bottom: 50px;
  }
}

.testimonial .testi-card .profile {
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 40px;
}

.testimonial .testi-card .profile img {
  width: 100%;
  height: 100%;
}

.testimonial .testi-card p {
  color: #23303e;
  font-size: 18px;
}

.testimonial .testi-card .name-ocupation {
  margin-top: 30px;
}

.testimonial .testi-card .name-ocupation .name {
  color: #23303e;
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.testimonial .testi-card .name-ocupation .ocupation {
  margin-top: 20px;
  font-size: 16px;
  color: #a7abae;
}

.image-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 640px) {
  .image-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.image-columns .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-columns .image-column {
  width: calc(100vw / 4);
  height: 400px;
  background-position: center;
  background-size: cover;
}

@media (max-width: 640px) {
  .image-columns .image-column {
    height: 200px;
    width: 100vw;
  }
}

.image-columns .img-1 {
  background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
}

.image-columns .img-2 {
  background-image: url("../images/desktop/image-gallery-orange.jpg");
}

.image-columns .img-3 {
  background-image: url("../images/desktop/image-gallery-cone.jpg");
}

.image-columns .img-4 {
  background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 300px;
  background-color: lightblue;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-content img {
  cursor: pointer;
  margin-bottom: 30px;
}

footer .footer-content .footer-links {
  margin-bottom: 50px;
}

footer .footer-content .footer-links a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  color: #458c7e;
}

footer .footer-content .footer-links a:not(:last-child) {
  margin-right: 30px;
}

footer .footer-content .footer-links a:hover {
  color: white;
}

footer .footer-content .social-media:not(:last-child) {
  margin-right: 30px;
}

footer .footer-content .social-media:hover {
  color: white;
}
/*# sourceMappingURL=main.css.map */